body {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.button {
    cursor: pointer;
    width: 250px;
    height: 85px;
    border-radius: 50px;
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    animation: gradient 2.5s infinite 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2);
    padding-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px; /* Adjusted for better visibility */
    text-decoration: none; /* Remove underline from links */
    color: black; /* Set text color */
}

@keyframes gradient {
    0% { background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); }
    /* Include other gradient steps as required */
    100% { background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); }
}

#cat-fact {
    margin-top: 20px;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
}
